.p-single-navigation {
	background-color: $color__dark;
	padding: 120px 0 80px;

	.glide__track {
		margin-left: 40px;
	}

	h2 {
		color: $color__bright;
		font-size: 60px;
		font-weight: 600;
		margin-bottom: 40px;
	}

	.o-news-card-carousel {
		color: $color__bright;

		p,
		a,
		h3 {
			color: $color__bright;
		}

		h3 {
			text-transform: uppercase;
			font-size: 24px;
			line-height: 26px;
			letter-spacing: 0.9px;
		}

		figure {
			width: 300px;
			height: 300px;

			@include media('<desktop'){
				width: 270px;
				height: 270px;
			}
			@include media('<phone'){
				width: 240px;
				height: 240px;
			}

			position: relative;

			img {
				@extend %cover;

				object-fit: cover;
			}
		}
	}
}
