.site-header {
	background-color: transparent;
	padding: 33px 0;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo-container {
		width: 190px;
		position: relative;
		z-index: 10;
	}
	&__hamburger-container {
		position: relative;
		z-index: 10;
	}
	&__nav-container {
		opacity: 1;
		// pointer-events: none;
		position: fixed;
		z-index: 9;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: $color__text;
	}
}
