.p-page-hero {
	p {
		color: $color__bright;
	}
	.bg-image {
		min-height: 700px;
		position: relative;
		background-size: cover;
		background-position: 22vw;
		@include media("<phone") {
			background-position: left;
		}
		&::after {
			@include pseudo;
			width: 100vw;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			background: rgb(0, 0, 0);
			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 1) 39%,
				rgba(0, 0, 0, 0.7651435574229692) 61%,
				rgba(0, 0, 0, 0.5718662464985995) 100%
			);
		}
	}

	.text-container {
		z-index: 2;
		position: relative;
		padding-top: 133px;
		padding-bottom: 116px;
	}

	.hero-showcase {
		color: $color__bright;
		opacity: 0;
		transform: translateY(-100px);
		> div {
			overflow-y: hidden;
		}
	}

	.u-flex {
		width: 100%;
		row-gap: 60px;
	}

	.hero-showcase {
		font-size: 60px;
		line-height: 64px;
		font-weight: 600;
	}

	.hero-more {
		align-self: center;
		margin-left: 150px;
		p {
			font-size: 36px;
			line-height: 46px;
			font-weight: 300;
		}
	}

	// BLACK HERO
	.bg-color {
		min-height: 780px;
		position: relative;

		.text-container {
			position: relative;
			padding-top: 133px;
			padding-bottom: 116px;
		}

		.hero-text {
			color: $color__bright;
			font-size: 36px;
			line-height: 46px;
			font-weight: 300;

			position: absolute;
			max-width: 520px;
			right: 5%;
			top: 55%;
		}
	}
}

.p-single-hero {
	position: relative;
	h1 {
		color: $color__bright;
		text-transform: capitalize;
		font-size: 105px;
		line-height: 110px;
		padding-right: 90px;
	}

	.text-container {
		z-index: 2;
		position: relative;
		padding-top: 133px;
		padding-bottom: 116px;
	}

	.bg-image {
		min-height: 552px;
		position: relative;
		background-size: cover;
		display: flex;
		align-items: center;
		&::after {
			@include pseudo;
			width: 100vw;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			background: rgb(0, 0, 0);
			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 0.9472163865546218) 39%,
				rgba(0, 0, 0, 0.5718662464985995) 59%,
				rgba(0, 0, 0, 0) 78%
			);
		}
	}

	.infoBanner {
		background-color: $color__dark;
		padding: 30px 0;

		p {
			font-size: 24px;
			font-weight: 300;
			color: $color__bright;
			&.h5 {
				font-size: 24px;
				letter-spacing: 0.9px;
				line-height: 26px;
				margin-bottom: 8px;
				font-weight: 700;
			}
		}
	}

	.infoBanner__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}


.p-jobs-hero{
	background-color: $color__dark;
	color: $color__bright;
	min-height: 550px;
	display: flex;
	align-items: flex-end;

	a,p{
		color: $color__bright;
	}

	.back{
		font-weight: 300;
		font-size: 18px;
		margin-bottom: 50px;
		display: block;
		 i{
			display: inline-block;
			margin-right: 5px;
		 }
	}

	.title{
		margin-bottom: 50px;
		h1{
			margin-bottom: 5px;
		}
	}

	.apply{
		display: inline-block;
		float: right;
		
		@extend .link-line;

		font-size: 26px;
		color: $color__footerBg;

		&:after{
			height: 5px;
		}

	}
}