.p-careers-section {
  background-color: $color__dark;
  padding-top: 120px;
  padding-bottom: 90px;


  h2{
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 64px;
    color: $color__bright;
    @include media('<phone-land'){
      margin-bottom: 53px;
      font-size: 47px;
      line-height: 58px;
    }
  }
}

.c-jobs-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;

  @include media('<phone-land'){
    grid-template-columns: 1fr;
  }
  a{
    &:hover{
      color: currentColor;
    }
  }
}

.o-job-card{
  background-color: $color__bright;
  position: relative;
  padding: 40px 50px;
  transition: transform .5s;

  h4{
    font-size: 24px;
    margin-bottom: 17px;
    letter-spacing: .9px;
    text-transform: uppercase;
    z-index: 4;
    position: relative;
    @include media('<phone'){
      font-size: 21px;
    }
  }

  p{
    font-weight: 300;
    font-size: 18px;
    z-index: 4;
    position: relative;
  }

  &::after{
    @include pseudo;
    position: absolute;
    width: 10px;
    background-color: $color__footerBg;
    height: 100%;
    top: 0;
    left: 0;
    transition: width .5s;
    z-index: 0;
  }

  &:hover{

    transform: translate(-4px , -4px);

    &::after{
      width: 100%;
    }
  }
}