.p-home-hero {
	p {
		color: $color__bright;
		font-size: 60px;
		font-weight: 300;
		line-height: 74px;
		@include media ('<phone'){
			font-size: 36px;
			line-height: 49px;
		}
		.overflow{
			overflow-y: hidden;
			display: inline-block;
			position: relative;
		}
		.bold {
			font-weight: 600;
			@include media ('<phone'){
				font-size: 36px;
				line-height: 43px;
			}
		}
	}

	.bg-image {
		min-height: 700px;
		position: relative;
		background-size: cover;
		display: flex;

		@include media ('<phone'){
			min-height: auto;
		}

		&::after {
			@include pseudo;
			width: 100vw;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			background: rgb(0, 0, 0);
			opacity: 0.7;
		}
	}

	.text-container {
		z-index: 2;
		position: relative;
		padding-top: 163px;
		padding-bottom: 76px;
	}
}


.p-home__main{
	background-color: $color__dark;
	color: $color__bright;
	padding: 0px 0 90px;

	@include media('<phone'){
		padding: 90px 0 140px;
	}

	.top{
		margin-bottom: 20px;
		padding-bottom: 30px;
	}

	.bottom{
		margin-top: 20px;
		padding-top: 30px;
	}

	.top-home-grid{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 50px;
		justify-content: space-between;
		padding-bottom: 40px;
		@include media('<phone-land'){
			column-gap: 10px;
			row-gap: 50px;
		}

		@include media('<phone'){
			flex-direction: column;
		}

		figure{
			position: relative;
			width: 350px;
			height: 450px;

			@include media('<phone-land'){
				width: 280px;
				height: 380px;
			}

			img{
				@extend %cover;

				object-fit: cover;
			}
		}
	}

	.top-home-grid__text{
		grid-column: 2 / span 7;
		@include media ('<phone'){
			grid-column: 2/-1;
		}
	}

	.figure{
		grid-column: 9 / -1;
		@include media ('<phone'){
			grid-column: 2/-1;
		}
		figure{
			margin-left: auto;
		}
	}

	.text-top{
		margin-bottom: 50px;
		p{
			font-size: 49px;
			line-height: 60px;
			color: $color__bright;
			@include media('<phone-land'){
				font-size: 42px;
			}
			@include media('<phone'){
				font-size: 30px;
				line-height: 37px;
			}
		}
		.bold{
			font-size: 49px;
			line-height: 60px;
			color: $color__bright;
			font-weight: 700;
			@include media('<phone-land'){
				font-size: 42px;
			}
			@include media('<phone'){
				font-size: 30px;
				line-height: 37px;
			}
		}
	}

	.text-bottom{
		p	{
			font-size: 50px;
			line-height: 62px;
			color: $color__bright;
			font-weight: 300;
			@include media('<phone-land'){
				font-size: 44px;
			}
			@include media('<phone-land'){
				font-size: 30px;
				line-height: 37px;
			}
		}

		.small-text{
			margin-top: 50px;
			>p{
				font-weight: 600;
			}
		}
	}
	

	.top-home-svg{
		padding-top: 100px;
		position: relative;
		@include media('<phone'){
			padding-top: 10px;
		}


		.lottie-swirl{
			position: absolute;
			width: 180px;
			top: 0;
			right: 0;
			opacity: 0;
			z-index: 1;
			@include media('<phone'){
				width: 120px;
			}
		}
		.lottie-blob{
			position: absolute;
			width: 500px;
			top: 55%;
			left: 40%;
			transform: translate(-50% , -50%);
			z-index: 0;	
			@include media('<phone'){
				width: 400px;
			}
		}
		.lottie-triangle{
			position: absolute;
			width: 120px;
			top: -100px;
			left: 20%;
			opacity: 0;
			z-index: 2;
			>svg{
				width: 130px;
				@include media('<phone'){
					width: 100px;
				}
			}
			@include media('<phone'){
				width: 100px;
				top: 100px;
			}
		}
	}

	.top-home-svg__text{
		transform: translateX(40%);
		position: relative;
		z-index: 5;
		@include media('<phone'){
			transform: translateX(0);
		}
		p{
			font-size: 60px;
			line-height: 64px;
			color: $color__bright;
			@include media('<phone'){
				font-size: 35px;
				line-height: 40px;
			}
		}
	}

	// BOTTOM
	.bottom-home__grid{
		display: flex;
		column-gap: 100px;
		padding-bottom: 50px;
		@include media('<phone-land'){
			column-gap: 50px;
		}
		@include media('<phone'){
			flex-direction: column;
			row-gap: 90px;
			padding-bottom: 50px;
		}
		figure{
			position: relative;
			width: 1110px;
			height: 560px;

			@include media('<phone'){
				width: 380px;
				height: 460px;
			}

			img{
				@extend %cover;

				object-fit: cover;
			}

		}
	}

	.bottom-home-grid__text{
		padding-right: 8rem;
		@include media('<phone'){
			padding-right: 3rem;
		}
		p{
			font-size: 55px;
			line-height: 70px;
			@include media('<phone-land'){
				font-size: 45px;
				line-height: 60px;
			}

			@include media('<phone'){
				padding-left: 2rem ;
				font-size: 32px;
				line-height: 37px;
			}
		}
		.bold{
			font-size: 55px;
			line-height: 70px;
			font-weight: 700;
			@include media('<phone-land'){
				font-size: 45px;
				line-height: 60px;
			}
			@include media('<phone'){
				font-size: 32px;
				line-height: 37px;
			}
		}
	}

	.home-text-last{
		p{
			color: $color__bright;
			font-size: 55px;
			line-height: 70px;
			@include media('<phone'){
				font-size: 32px;
				line-height: 37px;
			}
		}
		.bold{
			font-size: 55px;
			line-height: 70px;
			font-weight: 700;
			@include media('<phone'){
				font-size: 32px;
				line-height: 37px;
			}
		}
	}
}