.p-home-hero {
	p {
		color: $color__bright;
		font-size: 60px;
		font-weight: 300;
		line-height: 74px;
		.overflow{
			overflow-y: hidden;
			display: inline-block;
			position: relative;
		}
		.bold {
			font-weight: 600;
		}
	}

	.bg-image {
		min-height: 700px;
		position: relative;
		background-size: cover;
		display: flex;

		&::after {
			@include pseudo;
			width: 100vw;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			background: rgb(0, 0, 0);
			opacity: 0.7;
		}
	}

	.text-container {
		z-index: 2;
		position: relative;
		padding-top: 133px;
		padding-bottom: 116px;
	}
}


.p-home__main{
	background-color: $color__dark;
	color: $color__bright;
	padding: 190px 0 180px;

	.top{
		margin-bottom: 70px;
		padding-bottom: 70px;
	}

	.bottom{
		margin-top: 70px;
		padding-top: 70px;
	}

	.top-home-grid{
		display: flex;
		column-gap: 50px;
		justify-content: space-between;
		padding-bottom: 100px;

		figure{
			position: relative;
			width: 350px;
			height: 450px;

			img{
				@extend %cover;

				object-fit: cover;
			}
		}
	}

	.text-top{
		margin-bottom: 110px;
		p{
			font-size: 49px;
			line-height: 60px;
			color: $color__bright;
		}
		.bold{
			font-size: 49px;
			line-height: 60px;
			color: $color__bright;
			font-weight: 700;
		}
	}

	.text-bottom{
		p	{
			font-size: 50px;
			line-height: 62px;
			color: $color__bright;
			font-weight: 300;
		}
	}
	

	.top-home-svg{
		padding-top: 100px;
		position: relative;

		.lottie-swirl{
			position: absolute;
			width: 180px;
			top: 0;
			right: 0;
			opacity: 0;
		}
		.lottie-blob{
			position: absolute;
			width: 500px;
			top: 55%;
			left: 40%;
			transform: translate(-50% , -50%);
			z-index: 0;
		}
		.lottie-triangle{
			position: absolute;
			width: 170px;
			top: -150px;
			left: 20%;
			opacity: 0;
			z-index: 2;
		}
	}

	.top-home-svg__text{
		transform: translateX(40%);
		position: relative;
		z-index: 5;

		p{
			font-size: 60px;
			line-height: 64px;
			color: $color__bright;
		}
	}

	// BOTTOM

	.bottom-home__grid{
		display: flex;
		grid-template-columns: 1fr 1fr;
		column-gap: 150px;
		padding-bottom: 160px;
		figure{
			position: relative;
			width: 480px;
			height: 660px;

			img{
				@extend %cover;

				object-fit: cover;
			}

			.text-scrolling-home{
				position: absolute;
				font-size: 140px;
				font-weight: 700;
				white-space: nowrap;
				line-height: 140px;
				display: inline-block;
				bottom: -95px;
				text-transform: uppercase;
				font-weight: bold;
				-webkit-text-stroke-color: #777777;
				-webkit-text-stroke-width: 2px;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				background-repeat: no-repeat;
				letter-spacing: 5.6px;
			}
		}
	}

	.bottom-home-grid__text{
		p{
			font-size: 55px;
			line-height: 70px;
		}
		.bold{
			font-size: 55px;
			line-height: 70px;
			font-weight: 700;
		}
	}

	.home-text-last{
		p{
			color: $color__bright;
			font-size: 55px;
			line-height: 70px;
		}
		.bold{
			font-size: 55px;
			line-height: 70px;
			font-weight: 700;
		}
	}
}