.p-rebels-section {
	margin-top: 50px;
	margin-bottom: 260px;
	padding-top: 50px;
	padding-bottom: 50px;

	@include media('<phone'){
		margin-top: 0px;
		margin-bottom: 60px;
		padding-top: 70px;
		padding-bottom: 100px;
	}

	.bold {
		margin-bottom: 120px;

		@include media('<phone-land'){
			font-size: 45px;
			line-height: 55px;
			margin-bottom: 50px;
		}

		@include media('<phone'){
			font-size: 32px;
			line-height: 40px;
		}

		> span {
			display: block;

			&.orange {
				color: $color__footerBg;
				// position: relative;

				&:last-of-type {
					// &:after {
					// 	@include pseudo;

					// 	left: 0;
					// 	bottom: 0;
					// 	width: 100%;
					// 	height: 5px;
					// 	background-color: $color__footerBg;
					// }
				}
			}
		}
	}
}

.p-rebels-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 50px;
	position: relative;

	@include media('<tablet'){
		grid-template-columns: repeat(2, 1fr);
	}
	
	@include media('<phone'){
		grid-template-columns: 1fr;
		row-gap: 100px;
	}

	.bg-text-container{
		z-index: -1;
		position: absolute;
		bottom: -290px;
		right: -5rem;
		@include media('<phone-land'){
			bottom: -480px;
		}
		@include media('<phone'){
			bottom: -300px;
			right: -1rem;
		}
	}

	.svg-star{
		position: absolute;
		display: none;
		@include media('<phone'){
			svg{
				width: 50px;
			}
		}
		&-green{
			top: 40%;
			right: 200px;
		}
		&-blue{
			top: -30px;
			right: 100px;
		}
		&-red{
			bottom: 0px;
			left: -30px;
		}
	}

	.bg-text {
		color: #f39200;
		display: none;
		opacity: 0.15;
		font-size: 240px;
		letter-spacing: 9px;
		line-height: 210px;
		font-weight: 700;
		@include media('<phone-land'){
			font-size: 195px;
			letter-spacing: 6px;
		}

		@include media('<phone-land'){
			font-size: 95px;
			letter-spacing: 3px;
			line-height: 140px;
		}
	}
}

.o-card-team {
	&:nth-child(2){
		transform: translateY(-100px);
		@include media('<phone'){
			transform: translateY(-70px);
		}
	}
	&:nth-child(3){
		transform: translateY(-200px);
		@include media('<tablet'){
			transform: translateY(-80px);
		}
	}

	> figure {
		position: relative;
		width: 350px;
		height: 350px;
		margin-bottom: 22px;
		@include media('<phone-land'){
			width: 300px;
			height: 300px;
			margin: 0 auto 22px
		}
		
		img {
			@extend %cover;

			object-fit: cover;
		}
	}

	> h4 {
		font-size: 24px;
		letter-spacing: 0.9px;
		text-transform: uppercase;
		margin-bottom: 3px;
	}

	.role {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 18px;
	}

	.bio {
		font-size: 16px;
		line-height: 19px;
		color: #777777;
		a {
			margin-top: 10px;
			text-transform: uppercase;
		}
	}
}
