.p-services-section {
	margin-top: 118px;
	padding-bottom: 160px;

	.o-services-cat-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
		margin-bottom: 80px;
		@include media('<phone-land'){
			grid-template-columns: repeat(1, 1fr);
			row-gap: 150px;
		}

	}

	.o-cat-item {
		transition: opacity 0.3s $ease-in-out;

		@include media('<phone-land'){
			pointer-events: none;
		}

		&:hover {
			cursor: pointer;
		}

		&.s-disabled {
			transition: opacity 0.3s $ease-in-out;
			opacity: 0.4;
		}

		&.s-active-svg {
	
			i {
				transform: rotate(80deg);
			}
		}

		.cat-text {
			margin: 22px 0 25px;

			@include media('<phone-land'){
				margin: 22px 0 45px;
			}
		}

		i {
			transition: transform 0.3s $ease-in-out;
			@include media('<phone-land'){
				display: none;
			}
			svg {
				position: relative;
				left: -8px;
			}
		}

		.o-service-tab{
			@include media ('>phone-land'){
				display: none;
			}
		}
	}

	.cat-arrow {
		display: flex;
		align-items: center;

		.cat-link {
			margin-left: 30px;
			transform: translateY(20px);
			font-weight: 600;
			opacity: 0;
			transition: transform 0.4s, opacity 0.3s;

			&:after {
				height: 4px;
			}

			&.s-active {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

.o-service-tab {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 88px;
	column-gap: 25px;
	opacity: 1;
	height: fit-content;

	@include media('<phone'){
		grid-template-columns: repeat(2, 1fr);
		pointer-events: none;
	}


	&.s-disabled {
		pointer-events: none;
		height: 0;
		opacity: 0;
	}

	.o-service {
		i {
			margin-bottom: 30px;
			display: inline-block;
		}

		svg {
			width: 86px;
		}

		p {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 21px;
			letter-spacing: 0.9px;
			@include media('<phone'){
				font-size: 18px;
			}
		}
	}
}
