.p-single-jobs-layout {
	padding: 120px 0;
	margin-bottom: 180px;

	.l-container--narrow{
		>p{
			margin-bottom: 30px;
			color: #777777;
			&strong{
				color: $color__text;
			}
		}
		a{
			color: #777777;
		}
		h1,h2,h3,h4,h5,h6 strong{
			color: $color__text;
			margin-bottom: 5px;
		}
	}


	.job-flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 70px;
		>p{
			font-size: 26px;
			font-weight: 700;
		}
	}

	.apply{
		display: inline-block;
		color: $color__footerBg!important;

		@extend .link-line;

		font-size: 26px;
		color: $color__footerBg;

		&:after{
			height: 5px;
		}
	}
}
