/*==================================================================================
  GENERAL
==================================================================================*/
*::selection {
	background-color: $color__footerBg;
	color: $color__bright;
}

html {
	color: $color__text;
	font-family: $text__fontname;
	// Make everything look a little nicer in webkit
	-webkit-font-smoothing: antialiased;
	font-size: $text__p;
	font-weight: 400;
	-webkit-overflow-scrolling: touch;

	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */

	// &.has-scroll-smooth {
	// 	overflow-x: hidden;
	// }
}

body {
	display: flex;
	height: 100%;
	flex-direction: column;
	&.s-no-scroll {
		overflow-y: hidden;
		overflow-x: hidden;
	}
}

main.site-main {
	flex: 1 1 0%;
}

/**
 * Generic Typography
 */

/**
 * Paragraphs, and various text elements.
 */
p,
li,
code,
pre,
ul,
li,
ol {
	color: $color__text;
}

em,
i,
q,
dfn {
	font-style: italic;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/**
 * Links
 */
a {
	color: $color__link;
	text-decoration: none;
	font-size: $text__p;

	&:after {
		bottom: 0.3px;
	}
	&:hover {
		color: $color__link-hover;
	}
}

/*
 * Headings
 */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	font-family: $header__fontname;
}

h1,
.h1 {
	font-size: $text__h1;
}

h2,
.h2 {
	font-size: $text__h2;
}

h3,
.h3 {
	font-size: $text__h3;
}

h4,
.h4 {
	font-size: $text__h4;
}

h5,
.h5 {
	font-size: $text__h5;
}

h6,
.h6 {
	font-size: $text__h6;
}
